@model IEnumerable<THWebTuan4.Models.Course>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <ul class="course">
        @foreach (var item in Model)
        {
            <li>
                <div class="date">
                    <div class="month">
                        @item.DateTime.ToString("MM")
                    </div>
                    <div class="day">
                        @item.DateTime.ToString("dd")
                    </div>
                </div>
                <div class="details">
                    <span class="lecture">
                        @item.LecturerId
                    </span>
                    <br />
                    <span class="category">
                        @item.Category.Name
                    </span>
                    <button data-course-id="@item.Id" class="btn btn-default btn-sm js-tongle-attendance">Going?</button>
                </div>
            </li>
        }
    </ul>

    @section scripts {
        <script>
            $(document).ready(function () {
                $(".js-tongle-attendance").click(function (e) {
                    var button = $(e.target);
                    $.post("/api/attendances", { Id: button.attr("data-course-id") })
                        .done(function () {
                            alert("Register course succesfully")
                            button
                                .removeClass("btn-default")
                                .addClass("btn-info")
                                .text("Going")
                        }).fail(function () {
                            alert("Something fail");
                        });
                });
            });
        </script>
    }
</div>
<<<<<<< HEAD




=======
    
>>>>>>> 8be0bf07fe76291ce81b7f50407ee442cd6a8792
