﻿@model IEnumerable<THWebTuan4.Models.Course>

@{ ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="row">
    <ul class="course">
        @foreach (var item in Model)
        {
            <li>
                <div class="date">
                    <div class="month">
                        @item.DateTime.ToString("MM")
                    </div>
                    <div class="day">
                        @item.DateTime.ToString("dd")
                    </div>
                </div>
                <div class="details">
                    <span class="lecture">
                        @item.LecturerId

                        @if (item.isLogin)
                        {
                            if (item.isShowFollow)
                            {
                                <button data-user-id="@item.LecturerId" class="btn btn-default btn-sm js-tongle-follow">Follow</button> }
                            else
                            {
                                <button data-user-id="@item.LecturerId" class="btn btn-default btn-sm js-tongle-follow">Following</button>}
                        }
                    </span>
                    <br />
                    <span class="category">
                        @item.Category.Name

                        @if (item.isLogin)
                        {

                            if (item.isShowGoing)
                            {
                                <button data-course-id="@item.Id" class="btn btn-default btn-sm js-tongle-attendance">Going?</button> }
                            else
                            {
                                <button data-course-id="@item.Id" class="btn btn-default btn-sm js-tongle-attendance">Going</button>}
                        }

                    </span>
                </div>
            </li>

        }
    </ul>
    @section scripts {
        <script>
            $(document).ready(function () {
                $(".js-tongle-attendance").click(function (e) {
                    var button = $(e.target);
                    $.post("/api/attendances", { Id: button.attr("data-course-id") })
                        .done(function (result) {
                            if (result == "cancel") {
                                alert("Cancel register successfully")
                                button
                                    .removeClass("btn-info")
                                    .addClass("btn-default")
                                    .text("Going?")
                            }
                            else {
                                alert("Register course succesfully")
                                button
                                    .removeClass("btn-default")
                                    .addClass("btn-info")
                                    .text("Going")
                            }

                        }).fail(function () {
                            alert("Something fail");
                        });
                });

                $(".js-tongle-follow").click(function (e) {
                    var button = $(e.target);
                    var followee = button.attr("data-user-id");
                    $.post("/api/followings", { FolloweeId: button.attr("data-user-id") })
                        .done(function (result) {
                            if (result == "cancel") {
                                $('.js-tongle-follow').each(function (i, obj) {
                                    if ($(this).attr('data-user-id') == followee) {
                                        $(this).removeClass("btn-success")
                                            .addClass("btn-default")
                                            .text("Follow")
                                    }
                                });
                                alert("Unfollow successfully")
                            }
                            else {
                                $('.js-tongle-follow').each(function (i, obj) {
                                    if ($(this).attr('data-user-id') == followee) {
                                        $(this).removeClass("btn-default")
                                            .addClass("btn-success")
                                            .text("Following")
                                    }
                                });
                                alert("Follow successfully")
                            }
                            button.text("Following");
                            alert("Following Successfully")
                        }).fail(function () {
                            alert("Something fails");
                        });
                });

            });
        </script>
    }
</div>


